footer{
    padding: 80px;
    background-color: $color-grey-2;
    .sub-title{
        margin: 15px 0;
        letter-spacing: 2px;
        color: $color-black-4;
        font-size: 12px;
    }
    .social-link{
        margin: 80px 0px;
        a{
            width: 40px;
            height: 40px;
            text-align: center;
            border: 1px solid $color-black-4;
            border-radius: 50%;
            line-height: 40px;
            display: inline-block;
            margin: 10px;
            color: #222;
            font-size: 20px;
            &:hover{
                background-color: $color-black-4;
                i{
                    color: $color-white-0;
                }
            }
        }
    }
    .copyright{
        letter-spacing: 2px;
        color: #000;
        font-size: 14px;
    }
    .copyright-sub-title{
        letter-spacing: 2px;
        font-size: 12px;
        text-transform:uppercase;
    }
   
}

.backToTop{
    position: fixed;
    right: 0px;
    bottom: 50px;
    opacity: 0;
    visibility: hidden;
    i{
        width: 60px;
        height: 40px;
        font-size: 2rem;
        line-height: 0;
        text-align: center;
      }
  }

.cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
}