.portforlio_detail{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    
    .porforlio_items{
        position: relative;

        img{
            display: block;
            width: 100%;
            height: 100%;
        }
        .porforlio_overlay{
            display: block;
            padding: 50px 0;
            background-color: rgba(255, 255, 255, 0.9);
            border: 20px solid rgba(0, 0, 0, .1);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
           
            i{
                font-size: 30px;
                padding-bottom: 17px;
                color: $color-black-0;
                @media screen and (max-width:768px){
                    font-size: 20px;
                    padding-bottom: 4px;
                }
                @media screen and (min-width:951px) and (max-width:950px){
                    font-size: 20px;
                }
            }
            p{
                letter-spacing: 4px;
                font-size: 14px;
                text-decoration: none;
                color: $color-black-4;
                @media screen and (max-width:768px){
                    line-height: 0px;
                }
                &:hover{
                    color: $color-yellow-0;
                    }
            }
            span{
                letter-spacing: 3px;
                color: #757575;
                font-size: $fs-5;
                text-decoration: none;
                &:hover{
                    color: $color-yellow-0;
                    }
            }
        }
        &:hover{
            .porforlio_overlay{
                opacity: 1;
            }
        }
    }
}

    

.porforlio_main{
    ul{
        padding: 50px;
    }
    .tab-content.portforlio-item{
        padding: 0 25px;
      
    }
    .nav-tabs{
        border:none;
        .nav-link {
            border: none;
        }
    }
    a{
        color: #a9a8a8;
        letter-spacing: 3px;
        font-size: 14px;
    }
        
}

@media screen and (min-width:950px) and (max-width:991px){
    .portforlio_detail{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
}
@media screen and (min-width:951px) and (max-width:834px){
    .portforlio_detail{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (max-width:768px){
    .portforlio_detail{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}